# Ignore build artifacts from the local tests sub-crate.
target/
venv/
keys/
.DS_Store
.idea

# Ignore backup files creates by cargo fmt.
*.rs.bk
*.pem

# Remove Cargo.lock when creating an executable, leave it for libraries
# More information here http://doc.crates.io/guide.html#cargotoml-vs-cargolock
contracts/framework/Cargo.lock
**/seed.txt
