base58==2.1.1
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.2.0
cytoolz==0.12.1
ecdsa==0.18.0
eth-hash==0.5.2
eth-keys==0.4.0
eth-typing==3.4.0
eth-utils==2.2.0
idna==3.4
more-itertools==9.1.0
py-bip39-bindings==0.1.11
py-ed25519-zebra-bindings==1.0.1
py-sr25519-bindings==0.2.0
pycparser==2.21
pycryptodome==3.18.0
PyNaCl==1.5.0
requests==2.31.0
scalecodec==1.2.6
six==1.16.0
substrate-interface==1.7.3
toolz==0.12.0
urllib3==2.0.3
websocket-client==1.6.1
xxhash==3.2.0
